<div class="grid">
    <!-- Card para exibir quantidade de clientes cadastrados -->
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Clientes Cadastrados</span>
                    <div class="text-900 font-medium text-xl">{{ totalClients }}</div> <!-- Exibe o total de clientes -->
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-users text-blue-500 text-xl"></i> <!-- Ícone de usuários -->
                </div>
            </div>
        </div>
    </div>

    <!-- Card para exibir quantidade de temas cadastrados -->
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Temas Cadastrados</span>
                    <div class="text-900 font-medium text-xl">{{ totalThemes }}</div> <!-- Exibe o total de temas -->
                </div>
                <div class="flex align-items-center justify-content-center bg-green-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-palette text-green-500 text-xl"></i> <!-- Ícone de paleta -->
                </div>
            </div>
        </div>
    </div>

    <!-- Card para exibir quantidade de itens cadastrados -->
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Itens Cadastrados</span>
                    <div class="text-900 font-medium text-xl">{{ totalItens }}</div> <!-- Exibe o total de itens -->
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-box text-orange-500 text-xl"></i> <!-- Ícone de caixa -->
                </div>
            </div>
        </div>
    </div>

     <!-- Card para exibir quantidade de alugueis efetuados -->
     <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Aluguéis Efetuados</span>
                    <div class="text-900 font-medium text-xl">{{ totalAlugueis }}</div> <!-- Exibe o total de aluguéis -->
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-calendar text-purple-500 text-xl"></i> <!-- Ícone de calendário -->
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Recent Sales</h5>
            <p-table [value]="products" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Image</th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                        <th>View</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td style="width: 15%; min-width: 5rem;">
                            <img src="assets/demo/images/product/{{product.image}}" class="shadow-4" alt="{{product.name}}" width="50">
                        </td>
                        <td style="width: 35%; min-width: 7rem;">{{product.name}}</td>
                        <td style="width: 35%; min-width: 8rem;">{{product.price | currency:'USD'}}</td>
                        <td style="width: 15%;">
                            <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- Seção de Temas Mais Alugados -->
        <div class="card">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Temas Mais Alugados</h5>
            </div>
            <ul class="list-none p-0 m-0">
                <li *ngFor="let theme of topThemes; let i = index" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ theme.theme }}</span>
                    </div>
                    <div class="mt-2 md:mt-0 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                            <div class="h-full" [ngStyle]="{width: (theme.count / maxRentCount) * 100 + '%', 'background-color': themeColors[i % themeColors.length]}"></div>
                        </div>
                        <span class="ml-3 font-medium" [ngStyle]="{'color': themeColors[i % themeColors.length]}">{{ theme.count }} aluguéis</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="card">
            <h5>Sales Overview</h5>
            <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <div class="card-header">
                    <h5>Top Usuários que Alugaram Temas</h5>
                </div>
                <div class="card-body">
                    <div *ngFor="let user of topUsers" class="user-item">
                        <strong>{{ user.clientName }}</strong>: Alugou <span>{{ user.rentCount }}</span> vez(es)
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
